html {
    height: 100%;
    width: 100%;
    text-align: center;
}

body {
    background-color: #333;
}

#circle {
    display: inline-block;
    width: 15vh;
	height: 15vh;
	margin-top: 33vh;
	background: skyblue;
	clip-path: circle();
	will-change: transform;
	-webkit-transition: all 4.0s ease-in-out;
    -moz-transition: all 4.0s ease-in-out;
	transition: all 4.0s ease-in-out;
}

#text {
    color: white;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;;
    margin-top: 33vh;
}


@media screen and (max-width: 1000px) {

    #circle {
        width: 15vw;
    	height: 15vw;
    }
}

@media screen and (orientation: landscape) {

    #circle {
        width: 15vh;
    	height: 15vh;
    }
}