html {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #333;
}

body {
    margin: 0;
}

circle {
    fill: skyblue;
}

#circle {
    display: inline-block;
    width: 50vh;
    height: 50vh;
    margin-top: 10vh;
    fill: skyblue;
    will-change: transform;
    transform: scale(0.25);
    -webkit-transition: all 4.0s ease-in-out;
    -moz-transition: all 4.0s ease-in-out;
    transition: all 4.0s ease-in-out;
}

#text {
    color: white;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    margin-top: 15vh;
}


@media screen and (max-width: 600px) {

    #circle {
        width: 50vw;
        height: 50vw;
    }
}

@media screen and (orientation: portrait) {

    #circle {
        width: 50vw;
        height: 50vw;
    }
}

@media screen and (orientation: landscape) {

    #circle {
        width: 50vh;
        height: 50vh;
    }
}
