html {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #333;
    font-size: 21px;
    cursor: default;
    overflow: hidden;
}

body {
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
}

#menu-button {
    position: fixed;
    top: 0.5em;
    right: 0.5em;
    z-index: 1;
    opacity: 0.4;
    transition: opacity 0.3s;
    color: white !important;
}

#menu-button:hover,
#menu-button:focus {
    opacity: 1;
}

.bp-drawer .drawer-menu {
    list-style: none;
    padding: 1em;
    margin: 0;
}

.bp-drawer .drawer-menu li {
    padding: 0.75em 0;
}

.bp-drawer .drawer-menu li a {
    text-decoration: none;
    color: inherit;
}

.bp-drawer table {
    border-spacing: 0.4em;
}

.bp-drawer input[type='text'] {
    width: 5em;
    font-size: 16px;
    padding: 0.25em;
}

.bp-drawer input[type='number'] {
    width: 3em;
    font-size: 16px;
    padding: 0.25em;
}

.bp-drawer input[type=number]::-webkit-inner-spin-button,
.bp-drawer input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#main-view {
    height: 100%;
    width: 100%;
}

#circle circle {
    fill: skyblue;
}

#circle {
    display: inline-block;
    width: 50vh;
    height: 50vh;
    margin-top: 10vh;
    will-change: transform;
    transform: scale(0.25);
    -webkit-transition: all 4.0s ease-in-out;
    -moz-transition: all 4.0s ease-in-out;
    transition: all 4.0s ease-in-out;
}

#text {
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 10vh;
}


@media screen and (max-width: 600px) {

    #circle {
        width: 50vw;
        height: 50vw;
    }
}

@media screen and (orientation: portrait) {

    #circle {
        margin-top: 20vh;
        width: 50vw;
        height: 50vw;
    }
}

@media screen and (orientation: landscape) {

    #circle {
        width: 50vh;
        height: 50vh;
    }
}
